$base-color: #dec79b;
$font-color: #18181e;

.nav-container {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  color: #18181e;
  box-sizing: border-box;
  padding: 40px 50px;
  text-transform: uppercase;

  .title {
    text-decoration: none;
    color: #18181e;
    box-sizing: border-box;
    padding: 0 30px;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-left: auto;
    list-style: none;
  }

  .item {
    margin: 0 20px;
    cursor: pointer;
  }
}
