$base-color: #dec79b;
$font-color: #18181e;

* {
  font: "Playfair Display", serif;
  font-weight: lighter;
}

.nav-items {
  background: white;
  display: flex;
  font-size: 1.1rem;
  color: $font-color;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  li:first-child {
    margin-right: auto;
  }

  li {
    margin: 0 4rem;
  }
}
