.category-directory-container {
  text-align: center;
  margin: 0 80px;

  h1 {
    text-transform: uppercase;
    padding: 20px;
    margin: 20px 0;
  }

  .category-directory-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
