.checkout-header-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;

  @media only screen and (max-width: 600px) {
    font-size: 0.6rem;
  }
}

.checkout-header-column {
  text-transform: uppercase;
  width: 23%;

  &:last-child {
    width: 8%;
  }
}
