.checkout-header-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}

.checkout-header-column {
  text-transform: uppercase;
  width: 23%;

  &:last-child {
    width: 8%;
  }
}
