.btn-link {
  min-width: 165px;
  text-decoration: none;
  width: auto;
  height: 300px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  font-weight: lighter;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: black;
  border: none;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
