$base-color: #dec79b;
$font-color: #18181e;

.nav-container {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  color: #18181e;
  box-sizing: border-box;
  padding: 2rem 4rem 2rem 4rem;
  text-transform: uppercase;

  .title {
    text-decoration: none;
    color: #18181e;
    box-sizing: border-box;
    margin: 0 20px;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-left: auto;
    list-style: none;
  }

  .item {
    margin: 0 20px;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 2rem 2rem 1rem 2rem;
  }
  @media only screen and (max-width: 600px) {
    font-size: 1rem;
    padding: 2rem 1rem 1rem 1rem;
  }
}
