.checkout-page-container {
  padding: 0 80px;
  box-sizing: border-box;

  @media only screen and (max-width: 768px) {
    padding: 0 30px;
  }

  .checkout-title {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 40px 0;

    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }

  .cart-total {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 40px 30px;

    @media only screen and (max-width: 768px) {
      padding: 20px 0;
      font-size: 1rem;
      justify-content: center;
    }
  }
  .test-warning {
    text-align: center;
    font-size: 24px;
    color: red;
    margin: 20px 0;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
      margin-top: 0;
    }
  }

  .checkout-button {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    justify-content: flex-end;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }
}
