.preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.men-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 50px;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
}

.women-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 50px;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
}
